.n-f-tic-header-n-f-tic-header {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  box-shadow: 0px 5px 10px 0px #d4d4d4;
  align-items: flex-start;
  justify-content: center;
}
.n-f-tic-header-header-group {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.n-f-tic-header-image {
  height: 2rem;
}
.n-f-tic-header-nav {
  display: flex;
}
.n-f-tic-header-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.n-f-tic-header-register {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  border-color: var(--dl-color-primary-100);
  background-color: var(--dl-color-primary-100);
}
.n-f-tic-header-register:hover {
  color: var(--dl-color-primary-300);
  border-color: var(--dl-color-primary-300);
  border-width: 1px;
  background-color: var(--dl-color-gray-white);
}
.n-f-tic-header-register:active {
  background-color: var(--dl-color-success-300);
}
.n-f-tic-header-burger-menu {
  display: none;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
}
.n-f-tic-header-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.n-f-tic-header-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.n-f-tic-header-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.n-f-tic-header-container {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.n-f-tic-header-image1 {
  height: 2rem;
}
.n-f-tic-header-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.n-f-tic-header-icon2 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.n-f-tic-header-register1 {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  border-color: var(--dl-color-primary-100);
  background-color: var(--dl-color-primary-100);
}
.n-f-tic-header-register1:hover {
  color: var(--dl-color-primary-300);
  border-color: var(--dl-color-primary-300);
  border-width: 1px;
  background-color: var(--dl-color-gray-white);
}
.n-f-tic-header-register1:active {
  background-color: var(--dl-color-success-300);
}
@media(max-width: 767px) {
  .n-f-tic-header-header-group {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .n-f-tic-header-nav {
    display: none;
  }
  .n-f-tic-header-btn-group {
    display: none;
  }
  .n-f-tic-header-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .n-f-tic-header-mobile-menu {
    display: none;
  }
}
@media(max-width: 479px) {
  .n-f-tic-header-header-group {
    padding: var(--dl-space-space-unit);
  }
  .n-f-tic-header-mobile-menu {
    padding: 16px;
  }
}
