.n-f-tic-footer-n-f-tic-footer {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  box-shadow: 0px 5px 10px 0px #d4d4d4;
  align-items: flex-start;
  align-self: flex-end !important;
  justify-content: center;
  background-color: rgba(175, 177, 193, 0.2);
}
.n-f-tic-footer-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.n-f-tic-footer-container {
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.n-f-tic-footer-image {
  height: 2rem;
  margin-bottom: var(--dl-space-space-twounits);
}
.n-f-tic-footer-separator {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: var(--dl-color-gray-900);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.n-f-tic-footer-container1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.n-f-tic-footer-text {
  color: var(--dl-color-gray-500);
}
.n-f-tic-footer-icon-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.n-f-tic-footer-link {
  display: contents;
}
.n-f-tic-footer-icon {
  width: 24px;
  height: 24px;
  text-decoration: none;
}
@media(max-width: 767px) {
  .n-f-tic-footer-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .n-f-tic-footer-image {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .n-f-tic-footer-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .n-f-tic-footer-container1 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .n-f-tic-footer-text {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 479px) {
  .n-f-tic-footer-footer {
    padding: var(--dl-space-space-unit);
  }
  .n-f-tic-footer-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .n-f-tic-footer-container1 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .n-f-tic-footer-text {
    text-align: center;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
