.question-card-feature-card {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
  border-color: var(--dl-color-primary-700);
  border-radius: 8px;
  border-width: 1px;
}
.question-card-icon {
  fill: var(--dl-color-gray-500);
  width: 2rem;
  height: 2rem;
  flex-shrink: 0;
  margin-right: var(--dl-space-space-oneandhalfunits);
}
.question-card-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.question-card-text {
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}




@media(max-width: 767px) {
  .question-card-feature-card {
    flex-direction: row;
  }
  .question-card-container {
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .question-card-container {
    flex-direction: column;
  }
}
