.arbitration-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100%;
  align-items: center;
  flex-direction: column;
  flex:1;
}
.arbitration-n-f-tic-all-events {
  flex: 1 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  box-shadow: 0px 5px 10px 0px #d4d4d4;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.arbitration-banner {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(133, 177, 214, 0.2);
  box-shadow: 0px 5px 10px 0px #d4d4d4;
}
.arbitration-banner-text {
  color: var(--dl-color-success-300);
  font-size: 3rem;
  text-align: center;
}
.arbitration-banner-text01 {
  max-width: var(--dl-size-size-maxwidth);
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  margin-bottom: var(--dl-space-space-twounits);
  color: var(--dl-color-gray-500);
}
.arbitration-banner-text02 {
   color: var(--dl-color-gray-500);
}
.withdraw-button {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  border-width: 0px;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-success-300) !important;
  border-radius: 4px;
  font-weight: 700 !important;
}
.withdraw-button:hover {
  transform: scale(1.02);
  background-color: var(--dl-color-primary-100) !important;
}
.arbitration-gallery {
  width: 100%;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: 50px;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
}
.arbitration-text {
  color: var(--dl-color-primary-100);
  font-size: 3rem;
  text-align: center;
}
.arbitration-text01 {
  color: var(--dl-color-gray-500);
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  padding-left: var(--dl-space-space-threeunits);
  margin-bottom: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-threeunits);
}
.arbitration-gallery1 {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-unit);
  max-width: var(--dl-size-size-maxwidth);
  grid-template-columns: 1fr 1fr 1fr;
}
.arbitration-show-dispute {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  background-size: cover;
  justify-content: center;
  background-image: url("https://images.unsplash.com/photo-1666756201003-b46eaf2d5cf9?ixid=Mnw5MTMyMXwwfDF8YWxsfDEyfHx8fHx8Mnx8MTY2NzAxMjg3MQ&ixlib=rb-4.0.3&w=1500");
}
.arbitration-container1 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  min-width: 1000px;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  max-height: var(--dl-size-size-maxwidth);
  min-height: 400px;
  align-items: flex-start;
  padding-top: 0nit;
  padding-left: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: 0px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.arbitration-button {
  top: var(--dl-space-space-unit);
  right: var(--dl-space-space-unit);
  width: auto;
  height: auto;
  display: flex;
  z-index: 100;
  position: absolute;
  align-self: flex-end;
  box-shadow: 2px 2px 4px 0px rgba(251, 35, 100, 0.2);
  font-style: normal;
  transition: 0.3s;
  align-items: center;
  font-weight: 700;
  padding-top: 0.25rem;
  border-width: 0px;
  padding-left: 0.25rem;
  border-radius: var(--dl-radius-radius-round);
  padding-right: 0.25rem;
  flex-direction: column;
  padding-bottom: 0.25rem;
  justify-content: center;
  background-color: rgba(251, 35, 100, 0.4);
}
.arbitration-button:hover {
  border: none;
  border-color: var(--dl-color-danger-500);
  background-color: var(--dl-color-danger-500);
}
.arbitration-icon {
  fill: var(--dl-color-gray-white);
  width: 20px;
  height: 20px;
}
.arbitration-image {
  width: 100%;
  align-self: center;
  max-height: 25rem;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius8);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.arbitration-container2 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
}
.arbitration-text02 {
  color: var(--dl-color-primary-100);
  align-self: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.arbitration-container3 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.arbitration-container4 {
  flex: 0 0 auto;
  width: 50%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.arbitration-event-location-row {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
}
.arbitration-text05 {
  color: var(--dl-color-gray-500);
  width: 8em;
  font-size: 1.5em;
}
.arbitration-text06 {
  color: var(--dl-color-gray-700);
  font-size: 1.5em;
}
.arbitration-event-location-row01 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
}
.arbitration-text07 {
  color: var(--dl-color-gray-500);
  width: 8em;
  font-size: 1.5em;
}
.arbitration-text08 {
  color: var(--dl-color-gray-700);
  font-size: 1.5em;
}
.arbitration-event-location-row02 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
}
.arbitration-text09 {
  color: var(--dl-color-gray-500);
  width: 8em;
  font-size: 1.5em;
}
.arbitration-text10 {
  color: var(--dl-color-gray-700);
  font-size: 1.5em;
}
.arbitration-event-location-row03 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
}
.arbitration-text11 {
  color: var(--dl-color-gray-500);
  width: 8em;
  font-size: 1.5em;
}
.arbitration-text12 {
  color: var(--dl-color-gray-700);
  font-size: 1.5em;
}
.arbitration-event-location-row04 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
}
.arbitration-text13 {
  color: var(--dl-color-gray-500);
  width: 8em;
  font-size: 1.5em;
}
.arbitration-text14 {
  color: var(--dl-color-gray-700);
  font-size: 1.5em;
}
.arbitration-event-location-row05 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
}
.arbitration-text15 {
  color: var(--dl-color-gray-500);
  width: 8em;
  font-size: 1.5em;
}
.arbitration-text16 {
  color: var(--dl-color-gray-700);
  font-size: 1.5em;
}
.arbitration-container5 {
  flex: 0 0 auto;
  width: 50%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.arbitration-event-location-row06 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
}
.arbitration-text17 {
  color: var(--dl-color-gray-500);
  width: 8em;
  font-size: 1.5em;
}
.arbitration-text18 {
  color: var(--dl-color-gray-700);
  font-size: 1.5em;
}
.arbitration-event-location-row07 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-bottom: var(--dl-space-space-unit);
}
.arbitration-text19 {
  color: var(--dl-color-gray-500);
  width: 8em;
  font-size: 1.5em;
}
.arbitration-text20 {
  color: var(--dl-color-success-300);
  font-size: 1.5em;
}
.arbitration-event-location-row08 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-bottom: var(--dl-space-space-unit);
}
.arbitration-text21 {
  color: var(--dl-color-gray-500);
  width: 8em;
  font-size: 1.5em;
}
.arbitration-text22 {
  color: var(--dl-color-danger-500);
  font-size: 1.5em;
}
.arbitration-event-location-row09 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-bottom: var(--dl-space-space-unit);
}
.arbitration-text23 {
  color: var(--dl-color-gray-500);
  width: 8em;
  font-size: 1.5em;
}
.arbitration-event-location-row10 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-bottom: var(--dl-space-space-unit);
}
.arbitration-text26 {
  color: var(--dl-color-primary-300);
  font-size: 1.5em;
}
.arbitration-container6 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
  justify-content: center;
}
.arbitration-text27 {
  color: var(--dl-color-gray-500);
  font-size: 1.5em;
  font-style: normal;
  font-weight: 500;
}
.arbitration-container7 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
  justify-content: center;
}
.arbitration-button1 {
  color: var(--dl-color-gray-white);
  width: 12em;
  text-align: center;
  transition: 0.3s;
  border-color: var(--dl-color-danger-500);
  border-width: 0px;
  margin-right: var(--dl-space-space-unit);
  background-color: var(--dl-color-danger-500);
}
.arbitration-button1:hover {
  border-color: var(--dl-color-danger-300);
  background-color: var(--dl-color-danger-300);
}
.arbitration-button2 {
  color: var(--dl-color-gray-white);
  width: 12em;
  text-align: center;
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  border-color: var(--dl-color-primary-300);
  border-width: 0px;
  background-color: var(--dl-color-primary-300);
}
.arbitration-button2:hover {
  border-color: var(--dl-color-success-300);
  background-color: var(--dl-color-success-300);
}
@media(max-width: 991px) {
  .arbitration-text01 {
    text-align: center;
  }
  .arbitration-gallery1 {
    grid-template-columns: 1fr 1fr;
  }
}
@media(max-width: 767px) {
  .arbitration-gallery {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .arbitration-text01 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .arbitration-gallery1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .arbitration-gallery {
    padding: var(--dl-space-space-unit);
  }
  .arbitration-gallery1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
    grid-template-columns: auto;
  }
}
