
.event-dispute-form {
  width: 100%;
  max-width: 100%;
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  align-items:center;
  justify-content: space-between;
  align-self: flex-start;
  flex: 0 0 auto;
  height: min-content;
}
.evidence-input {
  width: fit-content !important;
  align-self: center !important;
  margin-top: 0 !important;
}
.evidence-label {
  align-self: start;
  color: var(--dl-color-gray-500);
  font-size: 1.5em;

}
.evidence-button {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  border-color: var(--dl-color-danger-500);
  background-color: var(--dl-color-danger-500);
  font-size: 1.4rem;
  margin-bottom: var(--dl-space-space-twounits);
  margin-top: var(--dl-space-space-unit);
  align-self: center;
}

.my-events-input-custom {
  width: auto;
  max-width: 100px !important;
}

.my-events-input-refund {
  width: auto;
  max-width: 50% !important;
}
.input-width-limit {
  width: auto !important;
}

.my-events-seller-actions {
  color: var(--dl-color-primary-100);
  align-self: flex-start;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  padding-top: var(--dl-space-space-oneandhalfunits);
}

.ReactModal__Content {
  width: fit-content !important;
}

.ReactModal__Content--after-open {
  width: auto;
}

.my-events-refund-button {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  border-color: var(--dl-color-primary-100);
  background-color: var(--dl-color-primary-100);
  font-size: 1.4rem;
}
.my-events-refund-button:hover {
  border-color: var(--dl-color-danger-300);
  background-color: var(--dl-color-danger-300);
}

.my-events-refund-all-button {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  border-color: var(--dl-color-danger-500);
  background-color: var(--dl-color-danger-500);
  font-size: 1.4rem;
  margin-bottom: var(--dl-space-space-twounits);
  align-self: flex-start;
}
.my-events-refund-all-button:hover {
  border-color: var(--dl-color-danger-300);
  background-color: var(--dl-color-danger-300);
}
.my-events-link {
  color: var(--dl-color-primary-300);
  font-size: 1.5em;
}

.my-events-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: stretch;
}
.my-events-n-f-tic-all-events {
  flex: 0 0 auto;
  width: 100%;
  height: auto;

  display: flex;
  box-shadow: 0px 5px 10px 0px #d4d4d4;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.my-events-gallery {
  width: 100%;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: 50px;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
}
.my-events-text {
  color: var(--dl-color-primary-100);
  font-size: 3rem;
  text-align: center;
}
.my-events-text01 {
  color: var(--dl-color-gray-500);
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  padding-left: var(--dl-space-space-threeunits);
  margin-bottom: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-threeunits);
}
.my-events-gallery1 {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-unit);
  max-width: var(--dl-size-size-maxwidth);
  grid-template-columns: 1fr 1fr 1fr;
}
.my-events-show-my-event {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  background-size: cover;
  justify-content: center;
}
.my-events-container1 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  min-width: 1000px;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  max-height: var(--dl-size-size-maxwidth);
  min-height: 400px;
  align-items: flex-start;
  padding-top: 0px;
  padding-left: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: 0px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.my-events-button {
  top: var(--dl-space-space-unit);
  right: var(--dl-space-space-unit);
  width: auto;
  height: auto;
  display: flex;
  z-index: 100;
  position: absolute;
  align-self: flex-end;
  box-shadow: 2px 2px 4px 0px rgba(251, 35, 100, 0.2);
  font-style: normal;
  transition: 0.3s;
  align-items: center;
  font-weight: 700;
  padding-top: 0.25rem;
  border-width: 0px;
  padding-left: 0.25rem;
  border-radius: var(--dl-radius-radius-round);
  padding-right: 0.25rem;
  flex-direction: column;
  padding-bottom: 0.25rem;
  justify-content: center;
  background-color: rgba(251, 35, 100, 0.4);
}
.my-events-button:hover {
  border: none;
  border-color: var(--dl-color-danger-500);
  background-color: var(--dl-color-danger-500);
}
.my-events-icon {
  fill: var(--dl-color-gray-white);
  width: 20px;
  height: 20px;
}
.my-events-image {
  width: 100%;
  align-self: center;
  max-height: 25rem;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius8);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.my-events-container2 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: flex-start;
}
.my-events-text08 {
  color: var(--dl-color-primary-100);
  align-self: flex-start;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.my-events-event-location-row {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-bottom: var(--dl-space-space-unit);
}
.my-events-text11 {
  color: var(--dl-color-gray-500);
  width: 7em;
  font-size: 1.5em;
}
.my-events-text12 {
  color: var(--dl-color-gray-700);
  font-size: 1.5em;
}
.my-events-event-location-row1 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-bottom: var(--dl-space-space-unit);
}
.my-events-text13 {
  color: var(--dl-color-gray-500);
  width: 7em;
  font-size: 1.5em;
}
.my-events-text14 {
  color: var(--dl-color-gray-700);
  font-size: 1.5em;
}
.my-events-event-location-row2 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-bottom: var(--dl-space-space-unit);
}
.my-events-text15 {
  color: var(--dl-color-gray-500);
  width: 7em;
  font-size: 1.5em;
}
.my-events-text16 {
  color: var(--dl-color-gray-700);
  font-size: 1.5em;
}
.my-events-event-location-row3 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-bottom: var(--dl-space-space-unit);
}
.my-events-text17 {
  color: var(--dl-color-gray-500);
  width: 7em;
  font-size: 1.5em;
}
.my-events-text18 {
  color: var(--dl-color-gray-700);
  font-size: 1.5em;
}
.my-events-event-location-row4 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-bottom: var(--dl-space-space-unit);
}
.my-events-text19 {
  color: var(--dl-color-gray-500);
  width: 7em;
  font-size: 1.5em;
}
.my-events-text20 {
  color: var(--dl-color-gray-700);
  font-size: 1.5em;
}
.my-events-event-location-row5 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-bottom: var(--dl-space-space-unit);
}
.my-events-text21 {
  color: var(--dl-color-gray-500);
  width: 7em;
  font-size: 1.5em;
}
.my-events-text22 {
  color: var(--dl-color-gray-700);
  font-size: 1.5em;
}
.my-events-event-location-row6 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-bottom: var(--dl-space-space-unit);
}
.my-events-text23 {
  color: var(--dl-color-gray-500);
  width: 7em;
  font-size: 1.5em;
}
.my-events-text24 {
  color: var(--dl-color-gray-700);
  font-size: 1.5em;
}
.my-events-container3 {

  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content:flex-start;
  margin-bottom: var(--dl-space-space-halfunit);
}
.my-events-text25 {
  color: var(--dl-color-gray-500);
  font-size: 1.5em;
  margin-right: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-halfunit);
}
.my-events-input {
  color: var(--dl-color-gray-500);
  width: 60px;
  max-width: 100px !important;
  text-align: right;
  border-color: var(--dl-color-primary-100);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.my-events-button1 {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  border-color: var(--dl-color-success-300);
  background-color: var(--dl-color-success-300);
  font-size: 1.4rem;
}
.my-events-button1:hover {
  border-color: var(--dl-color-primary-100);
  background-color: var(--dl-color-primary-100);
}
.my-events-create-event {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  background-size: cover;
  justify-content: center;
  background-image: url("https://images.unsplash.com/photo-1611606846562-6405b809992e?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDIxfHxjcmVhdGV8ZW58MHx8fHwxNjY3MDE0MTkz&ixlib=rb-4.0.3&w=1500");
}
.my-events-container4 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  max-width: 1000px;
  min-width: auto;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  max-height: var(--dl-size-size-maxwidth);
  min-height: 400px;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.my-events-text26 {
  color: var(--dl-color-primary-100);
  align-self: flex-start;
  text-align: left;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.my-events-form {
  flex: 1;
  width: 100%;
  height: auto;
}
.my-events-container5 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.my-events-container6 {
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-unit);
  flex-direction: column;
}
.my-events-textinput {
  color: var(--dl-color-gray-500);
  font-size: 1.5rem;
  border-color: var(--dl-color-primary-100);
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-unit);
  background-color: rgba(175, 177, 193, 0.2);
}
.my-events-textinput1 {
  color: var(--dl-color-gray-500);
  font-size: 1.5rem;
  border-color: var(--dl-color-primary-100);
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-unit);
  background-color: rgba(175, 177, 193, 0.2);
}
.my-events-textinput2 {
  color: var(--dl-color-gray-500);
  width: auto;
  font-size: 1.5rem;
  border-color: var(--dl-color-primary-100);
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-unit);
  background-color: rgba(175, 177, 193, 0.2);
}
.my-events-textinput3 {
  color: var(--dl-color-gray-500);
  width: auto;
  font-size: 1.5rem;
  border-color: var(--dl-color-primary-100);
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-unit);
  background-color: rgba(175, 177, 193, 0.2);
}
.my-events-textinput4 {
  color: var(--dl-color-gray-500);
  width: auto;
  font-size: 1.5rem;
  border-color: var(--dl-color-primary-100);
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-unit);
  background-color: rgba(175, 177, 193, 0.2);
}
.my-events-textarea {
  color: var(--dl-color-gray-500);
  width: 100%;
  font-size: 1.5em;
  min-width: 500px;
  min-height: 5em;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-unit);
  background-color: rgba(175, 177, 193, 0.2);
}
.my-events-container7 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  flex-direction: column;
}
.my-events-button2 {
  color: var(--dl-color-gray-white);
  align-self: flex-end;
  transition: 0.3s;
  border-color: var(--dl-color-primary-100);
  margin-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-primary-100);
}
.my-events-button2:hover {
  border-color: var(--dl-color-success-300);
  background-color: var(--dl-color-success-300);
}
.my-events-button3 {
  top: var(--dl-space-space-unit);
  right: 16px;
  width: auto;
  height: auto;
  display: flex;
  z-index: 100;
  position: absolute;
  align-self: flex-end;
  box-shadow: 2px 2px 4px 0px rgba(251, 35, 100, 0.2);
  font-style: normal;
  transition: 0.3s;
  align-items: center;
  font-weight: 700;
  padding-top: 0.25rem;
  border-width: 0px;
  padding-left: 0.25rem;
  border-radius: var(--dl-radius-radius-round);
  padding-right: 0.25rem;
  flex-direction: column;
  padding-bottom: 0.25rem;
  justify-content: center;
  background-color: rgba(251, 35, 100, 0.4);
}
.my-events-button3:hover {
  border: none;
  border-color: var(--dl-color-danger-500);
  background-color: var(--dl-color-danger-500);
}
.my-events-icon2 {
  fill: var(--dl-color-gray-white);
  width: 20px;
  height: 20px;
}
.my-events-button4 {
  flex: 0 0 auto;
  color: var(--dl-color-gray-white);
  right: 30px;
  width: var(--dl-size-size-small);
  bottom: 30px;
  height: var(--dl-size-size-small);
  display: flex;
  z-index: 100;
  position: fixed;
  font-size: 32px;
  align-self: flex-end;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  font-style: normal;
  transition: 0.3s;
  align-items: center;
  font-weight: 700;
  border-color: var(--dl-color-success-300);
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-success-300);
}
.my-events-button4:hover {
  border-color: var(--dl-color-primary-300);
  background-color: var(--dl-color-primary-300);
}
.my-events-icon4 {
  fill: var(--dl-color-gray-white);
  width: 24px;
  height: 24px;
}
@media(max-width: 991px) {
  .my-events-text01 {
    text-align: center;
  }
  .my-events-gallery1 {
    grid-template-columns: 1fr 1fr;
  }
}
@media(max-width: 767px) {
  .my-events-gallery {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .my-events-text01 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .my-events-gallery1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .my-events-gallery {
    padding: var(--dl-space-space-unit);
  }
  .my-events-gallery1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
    grid-template-columns: auto;
  }
}
